<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CreationDate</key>
	<date>2025-01-12T08:05:04Z</date>
	<key>ReferencedPath</key>
	<string>/GymnasedeMorges/3. Ressources/Guides/Programmation/Quorum/9. exercices-pratiques.md</string>
</dict>
</plist>
